extends layout

block content
  h1 Personal Website Project
  p Welcome. This project aims to apply the knowledge I learned from several 
    |node.js and Express tutorial and practice deploying a website on Heroku.
    br
    br
    |I intend to improve this website with front-end features after I learned React
