extends layout

block content
  h1 List of Projects
  ol()
    li 
      a(href='https://arctdav.github.io' style="font-size:25px;") Javascript Tank War
    li 
      a(href='https://github.com/arctdav/Android-Calculator-App' style="font-size:25px;") Android Calculator App
    li 
      a(href='https://github.com/arctdav/experiment-with-opencv' style="font-size:25px;") Experiment with Python Opencv
